<div class="row">
    <div class="col-lg-12">
        <br/>
        <ol class="breadcrumb">
          <li class="active">Dashboard</li>
        </ol>
    </div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h4>Garage Info<h4>
		<ul>
			<li>total # garages</li>
			<li>% growth from past week, past month</li>
			<li># distinct regions captured</li>
			<li>bar graph of # garages per region</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h4>User Info<h4>
		<ul>
			<li>total # users</li>
			<li>breakdown numbers of male to female</li>
		</ul>
	</div>
</div> 
<div class="row">
	<div class="col-lg-12">
		<h4>Parking Info<h4>
		<ul>
			<li># parking transactions today</li>
		</ul>
	</div>
</div>