<div class="row">
    <div class="col-lg-12">
        <br/>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#venues">Venues</a></li>
          <li class="active"><%= _id %></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="venue-message"></div>
        <form role="form">
            
            <div class="form-group">
                <label>Name</label>
                <input id="venue-name" type="text" class="form-control" placeholder="Enter venue name" value="<%= name %>">
            </div>

            <div class="form-group">
                <label>Street</label>
                <input id="venue-street" type="text" class="form-control" placeholder="Enter venue street" value="<%= address[0].street %>">
            </div>

            <div class="form-group">
                <label>City</label>
                <input id="venue-city" type="text" class="form-control" placeholder="Enter venue city" value="<%= address[0].city %>">
            </div>

            <div class="form-group">
                <label>State</label>
                <input id="venue-state" type="text" class="form-control" placeholder="Enter venue state" value="<%= address[0].state %>">
            </div>

            <div class="form-group">
                <label>ZIP</label>
                <input id="venue-zip" type="text" class="form-control" placeholder="Enter venue zip" type="number" min="1" step="1" pattern="\d+" value="<%= address[0].zip %>">
            </div>

            <div class="form-group">
                <label>Coordinates</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='venue-longitude' type='number' class="form-control" step="0.00001" data-format="dd/MM/yyyy hh:mm:ss" pattern="\d+" placeholder="Enter longitude" value="<%= address[0].geo[0] %>" disabled>
                                <span class="input-group-addon"><span class="fa fa-map-marker"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='venue-latitude' type='number' class="form-control" step="0.00001" pattern="\d+" placeholder="Enter latitude" value="<%= address[0].geo[1] %>" disabled>
                                <span class="input-group-addon"><span class="fa fa-map-marker"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">

                    <div class="col-lg-12">
                        <label>Settings</label>
                        <div class="checkbox">
                            <label>
                                <input id="venue-active" type="checkbox" value="" checked>
                                active
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <button id="venue-submit" class="btn btn-lg btn-default btn-primary">
          Update
        </button>
        <button id="venue-delete" class="btn btn-lg btn-default pull-right">
          Delete
        </button>
    </div>
</div>