<div class="row">
    <div class="col-lg-12">
        <br/>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#venues">Venues</a></li>
          <li class="active">Add</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="venue-message"></div>
        <form role="form">
            
            <div class="form-group">
                <label>Name</label>
                <input id="venue-name" type="text" class="form-control" placeholder="Enter venue name">
            </div>

            <div class="form-group">
                <label>Street</label>
                <input id="venue-street" type="text" class="form-control" placeholder="Enter venue street">
            </div>

            <div class="form-group">
                <label>City</label>
                <input id="venue-city" type="text" class="form-control" placeholder="Enter venue city">
            </div>

            <div class="form-group">
                <label>State</label>
                <input id="venue-state" type="text" class="form-control" placeholder="Enter venue state">
            </div>

            <div class="form-group">
                <label>ZIP</label>
                <input id="venue-zip" type="text" class="form-control" placeholder="Enter venue zip" type="number" min="1" step="1" pattern="\d+">
            </div>

            <div class="form-group">
                <div class="row">

                    <div class="col-lg-12">
                        <label>Settings</label>
                        <div class="checkbox">
                            <label>
                                <input id="venue-active" type="checkbox" value="" checked>
                                active
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <button id="venue-submit" class="btn btn-lg btn-default btn-primary">
          Submit
        </button>
    </div>
</div>