<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="img/veer_logo.png" height="18"> Administration</a>
        <!-- <a class="navbar-brand" href="#"><i class="fa fa-codepen fa-fw"></i> Veer Administration</a> -->
        <!-- <a class="navbar-brand" href="#"><img src="img/veer_logo.png" height="18"> Veer Administration</a> -->
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= Veer.user.email %>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <!--<li><a href="#user/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                <!--</li>-->
                <!--<li><a href="#settings"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <li><a href="#user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#operators"><i class="fa fa-institution fa-fw"></i> Operators</a>
                </li>
                <li>
                    <a href="#garages"><i class="fa fa-car fa-fw"></i> Garages</a>
                </li>
                <li>
                    <a href="#venues"><i class="fa fa-building fa-fw"></i> Venues</a>
                </li>
                <li>
                    <a href="#users"><i class="fa fa-users fa-fw"></i> Users</a>
                </li>
                <!--<li>-->
                    <!--<a href="#users/groups"><i class="fa fa-group fa-fw"></i> User Groups</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<a><i class="fa fa-cog fa-fw"></i> Settings<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level collapse in" style="height: auto;">-->
                        <!--<li>-->
                            <!--<a href="#company/profile">Company Profile</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                <!--</li>-->
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>