<div class="row">
    <div class="col-lg-12">
        <br/>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li class="active">Venues</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-building fa-fw"></i> Venues
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#venues/add">Add</a>
                        </li>
                        <li id="venue-delete"><a>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="panel-body backgrid-container">
                <div class="table-responsive">
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>