<div id="garage-create-rate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Create Rate</h4>
		</div>
		<div class="modal-body">
			<div id="garage-create-rate-message"></div>
			<form class="form">

				<div id="step-1">

					<div class="row">
                		<div class="col-lg-12">
                			<label>Time Frame</label>
                		</div>
						<div class="col-lg-3">
							<div class="radio">
							  <label>
							    <input id="rate-weekday" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							    Weekday
							  </label>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="radio">
							  <label>
							    <input id="rate-weekend" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    Weekend
							  </label>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="radio">
							  <label>
							    <input id="rate-every-day" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    Every Day
							  </label>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-lg-12">

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="rate-monday" type="checkbox" checked>
		                            monday
		                        </label>
		                    </div>

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="rate-tuesday" type="checkbox" checked>
		                            tuesday
		                        </label>
		                    </div>

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="rate-wednesday" type="checkbox" checked>
		                            wednesday
		                        </label>
		                    </div>

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="rate-thursday" type="checkbox" checked>
		                            thursday
		                        </label>
		                    </div>

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="rate-friday" type="checkbox" checked>
		                            friday
		                        </label>
		                    </div>

		                    <div class="weekend">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="rate-saturday" type="checkbox" checked>
		                            saturday
		                        </label>
		                    </div>

		                    <div class="weekend">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="rate-sunday" type="checkbox" checked>
		                            sunday
		                        </label>
		                    </div>
		                </div>

					</div>
				</div>

				<div id="step-2">
					<div class="row">
						<div class="col-lg-12">
							<label>Rate Type</label>
							<div class="controls">
								<select id="rate-type" class="form-control">
								  	<option type="range-hour">Hour Range (ex: from 8:00 AM to 12:00 PM)</option>
								  	<option type="range-minute">Minute Range (ex: from 0 minutes to 30 minutes)</option>
								  	<option type="each">Each (ex: each 30 minutes)</option>
								  	<option type="flat">Flat</option>
								  	<option type="early_bird">Early Bird Duration</option>
								  	<option type="event">Event (ex: Celtics, from 8:00 AM to 12:00 PM)</option>
								</select>
							</div>
						</div>
					</div>

					<br>

	                <div class="row show_hour_range">
	                    <div class="col-lg-12">
                			<label>Hour Duration</label>
                		</div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-start-hour' type='text' class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Enter start hour (ex: 8:00 AM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-stop-hour' type='text' class="form-control" placeholder="Enter stop hour (ex: 9:00 AM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="row show_minute_range">
	                	<div class="col-lg-12">
                			<label>Minute Duration</label>
                		</div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-start-minute' type="number" min="1" step="1" pattern="\d+" class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="From start minute (ex: 30)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-stop-minute' type="number" min="1" step="1" pattern="\d+" class="form-control" placeholder="To stop minute (ex: 60)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="row show_each">
	               	    <div class="col-lg-12">
                			<label>Interval Duration</label>
                		</div>
	                    <div class="col-lg-12">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-each-minute' type="number" min="1" step="1" pattern="\d+" class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Enter interval minute (ex: 10)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="row show_early_bird_range">
                		<div class="col-lg-12">
                			<label>Entrance Time</label>
                		</div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-start-gt-hour' type='text' class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Early bird enter start time (ex: 8:00 AM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-start-lt-hour' type='text' class="form-control" placeholder="Early bird enter stop time (ex: 9:00 AM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
                		<div class="col-lg-12">
                			<label>Exit Time</label>
                		</div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-stop-gt-hour' type='text' class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Early bird exit start time (ex: 4:00 PM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='rate-stop-lt-hour' type='text' class="form-control" placeholder="Early bird exit stop time (ex: 5:00 PM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>


	                <div class="row show_event">
	                    <div class="col-lg-12">
                			<label>Hour Duration</label>
                		</div>

	                    <div class="col-lg-12">
	                        <div class="form-group">
								<input id="event-rate-name" type="text" class="form-control" placeholder="Enter event name">
	                        </div>
	                    </div>

<!-- 	                    <div class="col-lg-12">
	                        <div class="form-group">
	                        </div>
	                    </div> -->

	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='event-rate-start-hour' type='text' class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Enter start hour (ex: 8:00 AM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='event-rate-stop-hour' type='text' class="form-control" placeholder="Enter stop hour (ex: 9:00 AM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>


					<div class="row">
						<div class="col-lg-12">
							<label>Cost</label>
                            <div class='input-group date'>
                                <input id='rate-cost' type="number" min="1" step=".01" pattern="\d+" class="form-control" placeholder="Enter cost for this rate">
                                <span class="input-group-addon"><span class="fa fa-dollar"></span>
                                </span>
                            </div>
						</div>
					</div>
				</div>

				<div class="checkbox">
                    <label>
                        <input id="rate-active" type="checkbox" value="" checked="">
                        active
                    </label>
                </div>
			</form>
		</div>
		<div class="modal-footer">
			<button id="garage-create-rate-cancel" class="btn btn-default">
				Close
			</button>
			<button id="garage-create-rate-submit" data-loading-text="processing..."  database="<%= name %>" class="btn btn-primary">
				Submit
			</button>
		</div>
      </div>
    </div>
</div>