<div id="garage-create-exception-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Create Exception</h4>
		</div>
		<div class="modal-body">
			<div id="garage-create-exception-message"></div>
			<form class="form">
				<div class="form-group">
					<label class="control-label">Name</label>
					<div class="controls">
						<input type="text" class="form-control" id="exception-name" placeholder="enter name">
					</div>
				</div>
<!-- 				<div class="form-group">
					<label class="control-label">Description</label>
					<div class="controls">
						<input type="text" class="form-control" id="exception-description" placeholder="enter description">
					</div>
				</div> -->
				<div class="form-group">
					<label class="control-label">Date</label>
                    <div class="form-group">
		                <div class="row">
		                    <div class="col-lg-6">
		                        <div class="form-group">
		                            <div class='input-group date'>
		                                <input id='exception-start-date' type='text' class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Enter exception start date">
		                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
		                                </span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-lg-6">
		                        <div class="form-group">
		                            <div class='input-group date'>
		                                <input id='exception-stop-date' type='text' class="form-control" placeholder="Enter exception stop date">
		                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
		                                </span>
		                            </div>
		                        </div>
		                    </div>
		                </div>
                    </div>
				</div>
				<div class="checkbox">
                    <label>
                        <input id="exception-active" type="checkbox" value="" checked="">
                        active
                    </label>
                </div
			</form>
		</div>
		<div class="modal-footer">
			<button id="garage-create-exception-cancel" class="btn btn-default">
				Close
			</button>
			<button id="garage-create-exception-submit" data-loading-text="processing..."  database="<%= name %>" class="btn btn-primary">
				Submit
			</button>
		</div>
      </div>
    </div>
</div>