<div id="garage-create-hour-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Create Operating Hour</h4>
		</div>
		<div class="modal-body">
			<div id="garage-create-hour-message"></div>
			<form class="form">

				<div id="step-1">

					<div class="row">
                		<div class="col-lg-12">
                			<label>Time Frame</label>
                		</div>
						<div class="col-lg-3">
							<div class="radio">
							  <label>
							    <input id="hour-weekday" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							    Weekday
							  </label>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="radio">
							  <label>
							    <input id="hour-weekend" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    Weekend
							  </label>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="radio">
							  <label>
							    <input id="hour-every-day" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    Every Day
							  </label>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-lg-12">

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="hour-monday" type="checkbox" checked>
		                            monday
		                        </label>
		                    </div>

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="hour-tuesday" type="checkbox" checked>
		                            tuesday
		                        </label>
		                    </div>

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="hour-wednesday" type="checkbox" checked>
		                            wednesday
		                        </label>
		                    </div>

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="hour-thursday" type="checkbox" checked>
		                            thursday
		                        </label>
		                    </div>

		                    <div class="weekday">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="hour-friday" type="checkbox" checked>
		                            friday
		                        </label>
		                    </div>

		                    <div class="weekend">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="hour-saturday" type="checkbox" checked>
		                            saturday
		                        </label>
		                    </div>

		                    <div class="weekend">
		                        <label class="radio" style="font-weight: normal;">
		                            <input id="hour-sunday" type="checkbox" checked>
		                            sunday
		                        </label>
		                    </div>
		                </div>

					</div>
				</div>

				<div id="step-2">

	                <div class="row show_event">
	                    <div class="col-lg-12">
                			<label>Hour Duration</label>
                		</div>

	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='operating-hour-start-hour' type='text' class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Enter start hour (ex: 8:00 AM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <div class='input-group date'>
	                                <input id='operating-hour-stop-hour' type='text' class="form-control" placeholder="Enter stop hour (ex: 9:00 AM)">
	                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>

				</div>

				<div class="checkbox">
                    <label>
                        <input id="hour-active" type="checkbox" value="" checked="">
                        active
                    </label>
                </div>
			</form>
		</div>
		<div class="modal-footer">
			<button id="garage-create-hour-cancel" class="btn btn-default">
				Close
			</button>
			<button id="garage-create-hour-submit" data-loading-text="processing..."  database="<%= name %>" class="btn btn-primary">
				Submit
			</button>
		</div>
      </div>
    </div>
</div>