<div id="database-quiesce" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Delete [<%= items.length %>] Hours</h4>
		</div>
		<div class="modal-body">
			<div id="quiesce-database-message">
			</div>
			<div class="alert alert-warning">
	          <strong>Warning!</strong> Issuing a quiesce against databases [<%= items %>] will prevent you from interacting with them. Do you want to continue?
	        </div>
	        <div>
	        	<input id="database-quiesce-confirm" type="checkbox" /> I understand
	        </div>
		</div>
		<div class="modal-footer">
			<button id="database-quiesce-cancel" class="btn btn-default">
				Close
			</button>
			<button id="database-quiesce-submit" data-loading-text="processing..."  database="<%= name %>" class="btn btn-danger nuodb-btn-success" disabled>
				Submit
			</button>
		</div>
      </div>
    </div>
</div>