<div class="row">
    <div class="col-lg-12">
        <br/>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#garages">Garages</a></li>
          <li class="active"><%= _id %></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="garage-message"></div>
        <form role="form">
            
            <div class="form-group">
                <label>Name</label>
                <input id="garage-name" type="text" class="form-control" placeholder="Enter garage name" value="<%= name %>">
            </div>

            <div class="form-group">
                <label>Street</label>
                <input id="garage-street" type="text" class="form-control" placeholder="Enter garage street" value="<%= address[0].street %>">
            </div>

            <div class="form-group">
                <label>City</label>
                <input id="garage-city" type="text" class="form-control" placeholder="Enter garage city" value="<%= address[0].city %>">
            </div>

            <div class="form-group">
                <label>State</label>
                <input id="garage-state" type="text" class="form-control" placeholder="Enter garage state" value="<%= address[0].state %>">
            </div>

            <div class="form-group">
                <label>ZIP</label>
                <input id="garage-zip" type="text" class="form-control" placeholder="Enter garage zip" value="<%= address[0].zip %>">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input id="garage-phone" type="text" class="form-control" placeholder="Enter garage phone" value="<%= phone %>">
            </div>

            <div class="form-group">
                <label>Web</label>
                <input id="garage-web" type="text" class="form-control" placeholder="Enter garage web url" value="<%= web %>">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input id="garage-email" type="text" class="form-control" placeholder="Enter garage email" value="<%= email %>">
            </div>

            <div class="form-group">
                <label># Spaces</label>
                <input id="garage-spaces" type="number" step="1" pattern="\d+" class="form-control" min="1" step="1" placeholder="Enter max number spaces" value="<%= num_spaces %>">
            </div>

            <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="//<%= window.location.host%>/api/1/files/<%= rate_card_pic_id %>" style="height: 200px; width: 100%; display: block;">
                      <div class="caption">
                        <label>Rate Chart</label>
                        <input id="garage-rate-chart" type="file" name="picture"/>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="//<%= window.location.host%>/api/1/files/<%= entrance_pic_id %>" style="height: 200px; width: 100%; display: block;">
                      <div class="caption">
                        <label>Entrance Photo</label>
                        <input id="garage-picture" type="file" name="picture"/>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label>Operator</label>
                <select class="form-control" id="garage-operator">
                    <option id="null">None</option>
                </select> 
            </div>

<!--             <div class="form-group">
                <label>Type</label>
                <select id="garage-type" class="form-control">
                <option value="surface" selected>Surface</option>
                <option value="underground">Under Ground</option>
                <option value="aboveground">Above Ground</option>
                </select>
            </div> -->

<!--             <div class="form-group">
                <label>Max Height</label>
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div> -->

            <div class="form-group">
                <label>Coordinates</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='garage-longitude' type='text' class="form-control" step="0.00001" pattern="\d+" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Enter longitude" value="<%= address[0].geo[0] %>" disabled>
                                <span class="input-group-addon"><span class="fa fa-map-marker"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='garage-latitude' type='text' class="form-control" step="0.00001" pattern="\d+" placeholder="Enter latitude" value="<%= address[0].geo[1] %>" disabled>
                                <span class="input-group-addon"><span class="fa fa-map-marker"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Event Cost (default)</label>
                <input id="garage-event-cost" type="text" class="form-control" placeholder="Enter event cost" value="<%= event.cost %>">
            </div>

            <div class="form-group">
                <label>Event Rate Buffer</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='garage-event-rate-start-buffer' min="0" max="3" type='number' class="form-control" step="1" pattern="\d+" placeholder="Enter event rate start buffer" value="<%= event.start %>">
                                <span class="input-group-addon"><span class="fa fa-arrow-left"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='garage-event-rate-stop-buffer' min="0" max="3" type='number' class="form-control" step="1" pattern="\d+" placeholder="Enter event rate stop buffer" value="<%= event.stop %>">
                                <span class="input-group-addon"><span class="fa fa-arrow-right"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Properties</label>
                        <div class="checkbox">
                            <label>
                                <input id="garage-security-cameras" type="checkbox" value="">
                                security cameras
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-elevators" type="checkbox" value="">
                                elevators
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-wheelchair" type="checkbox" value="">
                                wheelchair
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-ev-charger" type="checkbox" value="">
                                ev charger
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-wifi-zone" type="checkbox" value="">
                                wifi zone
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>Services</label>
                        <div class="checkbox">
                            <label>
                                <input id="garage-car-washing" type="checkbox" value="">
                                car washing
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-gas-fillup" type="checkbox" value="">
                                gas fillup
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-security-escort" type="checkbox" value="">
                                security escort service
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-flat-tire" type="checkbox" value="">
                                flat tire assistance
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-valet" type="checkbox" value="">
                                valet service
                            </label>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <label>Payment Options</label>
                        <div class="checkbox">
                            <label>
                                <input id="garage-payment-credit" type="checkbox" value="">
                                credit
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-payment-cash" type="checkbox" value="">
                                cash
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-payment-check" type="checkbox" value="">
                                check
                            </label>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <label>Settings</label>
                        <div class="checkbox">
                            <label>
                                <input id="garage-active" type="checkbox" value="" checked>
                                active
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-edit fa-fw"></i> Operating Hours
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li id="garage-add-operating-hour">
                            <a>Add</a>
                        </li>
                        <li id="garage-delete-operating-hour">
                            <a>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div id="operating-hours-container" class="panel-body backgrid-container">
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-edit fa-fw"></i> Rates
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li id="garage-add-rate">
                            <a>Add</a>
                        </li>
                        <li id="garage-delete-rate">
                            <a>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div id="rate-container" class="panel-body backgrid-container">
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-edit fa-fw"></i> Venues
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li id="garage-add-venue">
                            <a>Add</a>
                        </li>
                        <li id="garage-delete-venue">
                            <a>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div id="venue-container" class="panel-body backgrid-container">
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-edit fa-fw"></i> Exceptions
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li id="garage-add-exception">
                            <a>Add</a>
                        </li>
                        <li id="garage-delete-exception">
                            <a>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div id="exception-container" class="panel-body backgrid-container">
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <button id="garage-submit" class="btn btn-lg btn-default btn-primary">
          Update
        </button>
<!--         <button id="garage-clone" class="btn btn-lg btn-default">
          Clone
        </button> -->
        <button id="garage-delete" class="btn btn-lg btn-default pull-right">
          Delete
        </button>
    </div>
</div>