<div class="row">
    <div class="col-lg-12">
        <br/>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#garages">Garages</a></li>
          <li><a href="#garages/<%= _id %>"><%= _id %></a></li>
          <li class="active">Clone</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form role="form">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="garage-active" type="checkbox" value="" checked>
                        active
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label>Name</label>
                <input id="garage-name" type="text" class="form-control" placeholder="Enter garage name">
            </div>

            <div class="form-group">
                <label>Street</label>
                <input id="garage-street" type="text" class="form-control" placeholder="Enter garage street" value="<%= address[0].street %>">
            </div>

            <div class="form-group">
                <label>City</label>
                <input id="garage-city" type="text" class="form-control" placeholder="Enter garage city" value="<%= address[0].city %>">
            </div>

            <div class="form-group">
                <label>State</label>
                <input id="garage-state" type="text" class="form-control" placeholder="Enter garage state" value="<%= address[0].state %>">
            </div>

            <div class="form-group">
                <label>ZIP</label>
                <input id="garage-zip" type="text" class="form-control" placeholder="Enter garage zip" value="<%= address[0].zip %>">
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input id="garage-phone" type="text" class="form-control" placeholder="Enter garage phone" value="<%= phone %>">
            </div>

            <div class="form-group">
                <label>Web</label>
                <input id="garage-web" type="text" class="form-control" placeholder="Enter garage web url" value="<%= web %>">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input id="garage-email" type="text" class="form-control" placeholder="Enter garage email" value="<%= email %>">
            </div>

            <div class="form-group">
                <label># Spaces</label>
                <input id="garage-spaces" type="number" step="1" pattern="\d+" class="form-control" min="1" step="1" placeholder="Enter max number spaces" value="<%= num_spaces %>">
            </div>

<!--             <div class="form-group">
                <label>Type</label>
                <select id="garage-type" class="form-control">
                <option value="surface" selected>Surface</option>
                <option value="underground">Under Ground</option>
                <option value="aboveground">Above Ground</option>
                </select>
            </div> -->

<!--             <div class="form-group">
                <label>Max Height</label>
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div> -->

            <div class="form-group">
                <label>Coordinates</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>From</label> -->
                            <div class='input-group date'>
                                <input id='garage-longitude' type='text' class="form-control" step="0.0001" pattern="\d+" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Enter longitude" value="<%= geo[0] %>">
                                <span class="input-group-addon"><span class="fa fa-map-marker"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>To</label> -->
                            <div class='input-group date'>
                                <input id='garage-latitude' type='text' class="form-control" step="0.0001" pattern="\d+" placeholder="Enter latitude" value="<%= geo[1] %>">
                                <span class="input-group-addon"><span class="fa fa-map-marker"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Operating Hours</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>From</label> -->
                            <div class='input-group date'>
                                <input id='operating-start-hour' type='text' class="form-control" data-format="dd/MM/yyyy hh:mm:ss" placeholder="Enter operating start hour" value="<%= hours.operating.open %>">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>To</label> -->
                            <div class='input-group date'>
                                <input id='operating-stop-hour' type='text' class="form-control" placeholder="Enter operating stop hour" value="<%= hours.operating.closed %>">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Early Bird Hours</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>From</label> -->
                            <div class='input-group date'>
                                <input id='early-bird-start-hour' type='text' class="form-control" placeholder="Enter early bird start hour" value="<%= hours.early_bird.start %>">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>To</label> -->
                            <div class='input-group date'>
                                <input id='early-bird-stop-hour' type='text' class="form-control" placeholder="Enter early bird stop hour" value="<%= hours.early_bird.stop %>">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Daily Hours</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>From</label> -->
                            <div class='input-group date'>
                                <input id='daily-start-hour' type='text' class="form-control" placeholder="Enter daily start hour" value="<%= hours.daily.start %>">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>To</label> -->
                            <div class='input-group date'>
                                <input id='daily-stop-hour' type='text' class="form-control" placeholder="Enter daily stop hour" value="<%= hours.daily.stop %>">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Evening Hours</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>From</label> -->
                            <div class='input-group date'>
                                <input id='evening-start-hour' type='text' class="form-control" placeholder="Enter evening start hour" value="<%= hours.evening.start %>">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <!-- <label>To</label> -->
                            <div class='input-group date'>
                                <input id='evening-stop-hour' type='text' class="form-control" placeholder="Enter evening stop hour" value="<%= hours.evening.stop %>">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Properties</label>
                        <div class="checkbox">
                            <label>
                                <input id="garage-security-cameras" type="checkbox" value="">
                                security cameras
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-elevators" type="checkbox" value="">
                                elevators
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-wheelchair" type="checkbox" value="">
                                wheelchair
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-ev-charger" type="checkbox" value="">
                                ev charger
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-wifi-zone" type="checkbox" value="">
                                wifi zone
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Services</label>
                        <div class="checkbox">
                            <label>
                                <input id="garage-car-washing" type="checkbox" value="">
                                car washing
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-gas-fillup" type="checkbox" value="">
                                gas fillup
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-security-escort" type="checkbox" value="">
                                security escort service
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-flat-tire" type="checkbox" value="">
                                flat tire assistance
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-valet" type="checkbox" value="">
                                valet service
                            </label>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <label>Payment Options</label>
                        <div class="checkbox">
                            <label>
                                <input id="garage-payment-credit" type="checkbox" value="">
                                credit
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-payment-cash" type="checkbox" value="">
                                cash
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="garage-payment-check" type="checkbox" value="">
                                check
                            </label>
                        </div>

                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-edit fa-fw"></i> Rule Index
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li id="add-question">
                            <a>Add</a>
                        </li>
                        <li>
                            <a href="#">Edit</a>
                        </li>
                        <li>
                            <a href="#">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="panel-body backgrid-container">
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
            <i class="fa fa-edit fa-fw"></i> Exception Index
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li id="add-question">
                            <a>Add</a>
                        </li>
                        <li>
                            <a href="#">Edit</a>
                        </li>
                        <li>
                            <a href="#">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="panel-body backgrid-container">
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <button id="garage-submit" class="btn btn-lg btn-default btn-primary">
          Submit
        </button>
        <button id="garage-delete" class="btn btn-lg btn-default pull-right">
          Delete
        </button>
    </div>
</div>