<div class="row">
    <div class="col-lg-12">
        <br/>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#operators">Operators</a></li>
          <li class="active"><%= _id %></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="operator-message"></div>
        <form role="form">
            
            <div class="form-group">
                <label>Name</label>
                <input id="operator-name" type="text" class="form-control" placeholder="Enter operator name" value="<%= name %>">
            </div>

<!--             <div class="form-group">
                <label>Street</label>
                <input id="operator-street" type="text" class="form-control" placeholder="Enter operator street" value="<%= address[0].street %>">
            </div>

            <div class="form-group">
                <label>City</label>
                <input id="operator-city" type="text" class="form-control" placeholder="Enter operator city" value="<%= address[0].city %>">
            </div>

            <div class="form-group">
                <label>State</label>
                <input id="operator-state" type="text" class="form-control" placeholder="Enter operator state" value="<%= address[0].state %>">
            </div>

            <div class="form-group">
                <label>ZIP</label>
                <input id="operator-zip" type="text" class="form-control" placeholder="Enter operator zip" type="number" min="1" step="1" pattern="\d+" value="<%= address[0].zip %>">
            </div>

-->

            <div class="form-group">
                <div class="row">

                    <div class="col-lg-12">
                        <label>Settings</label>
                        <div class="checkbox">
                            <label>
                                <input id="operator-active" type="checkbox" value="" checked>
                                active
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <button id="operator-submit" class="btn btn-lg btn-default btn-primary">
          Update
        </button>
        <button id="operator-delete" class="btn btn-lg btn-default pull-right">
          Delete
        </button>
    </div>
</div>