<div class="row">
    <div class="col-lg-12">
        <br/>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#operators">Operators</a></li>
          <li class="active">Add</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="operator-message"></div>
        <form role="form">
            
            <div class="form-group">
                <label>Name</label>
                <input id="operator-name" type="text" class="form-control" placeholder="Enter operator name">
            </div>

<!--             <div class="form-group">
                <label>Street</label>
                <input id="operator-street" type="text" class="form-control" placeholder="Enter operator street">
            </div>

            <div class="form-group">
                <label>City</label>
                <input id="operator-city" type="text" class="form-control" placeholder="Enter operator city">
            </div>

            <div class="form-group">
                <label>State</label>
                <input id="operator-state" type="text" class="form-control" placeholder="Enter operator state">
            </div>

            <div class="form-group">
                <label>ZIP</label>
                <input id="operator-zip" type="text" class="form-control" placeholder="Enter operator zip" type="number" min="1" step="1" pattern="\d+">
            </div>

            <div class="form-group">
                <label>Coordinates</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='operator-longitude' type='number' class="form-control" step="0.00001" data-format="dd/MM/yyyy hh:mm:ss" pattern="\d+" placeholder="Enter longitude">
                                <span class="input-group-addon"><span class="fa fa-map-marker"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='operator-latitude' type='number' class="form-control" step="0.00001" pattern="\d+" placeholder="Enter latitude">
                                <span class="input-group-addon"><span class="fa fa-map-marker"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="form-group">
                <div class="row">

                    <div class="col-lg-12">
                        <label>Settings</label>
                        <div class="checkbox">
                            <label>
                                <input id="operator-active" type="checkbox" value="" checked>
                                active
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <button id="operator-submit" class="btn btn-lg btn-default btn-primary">
          Submit
        </button>
    </div>
</div>