<div class="container">
    <div class="row text-center">
        <img src="img/veer.png">
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Administration</h3>
                </div>
                <div class="panel-body">
                    <div id="user-login-message"></div>
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input id="user-login-email" class="form-control" placeholder="Email Address" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input id="user-login-password" class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <button id="user-login-submit" class="btn btn-lg btn-primary btn-block" disabled>Sign In</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>